<p>How much bitcoin do you have</p>

<form action="/bitcoins">
  <label>Amount</label>
  <input type="text" name="amount" value="<%= @bitcoin %>">
  <button>Submit</button>
</form>

<p>1 Bitcoin is valued at $<%= @usd_rate %> USD.</p>

<% if @bitcoin != nil %>
   <p>Your Bitcoin is worth $<%= @usd_value %>.</p>
<% end %>