<!-- Company details page -->

<h1>Dunder Mifflin</h1>

<h2>Scranton, PA</h2>

<h3>Contacts</h3>

<ul>
  <li>Michael Scott</li>
  <li>Dwight Schrute</li>
</ul>

<p>
  <a href="">New Contact</a>
</p>

<p>
  <a href="">Back to All Companies</a>
</p>