<% 
  fillings = ["Carnitas", "Al Pastor", "Steak", "Fish", "Veggie"]
%>

<h1>I love tacos!</h1>
<p>There are so many kinds of tacos!</p>

<ul>
  <% for filling in fillings %>
    <li><%= filling %></li>
  <% end %>
</ul>

<p>Currently, there are <%= fillings.count %> kinds of tacos.</p>