<%
  ranks = [2, 3, 4, 5, 6, 7, 8, 9, 10, "jack", "queen", "king", "ace"]
  suits = ["clubs", "diamonds", "hearts", "spades"]

  deck = []
  for rank in ranks
    for suit in suits
      deck.append("#{rank}_of_#{suit}")
    end
  end

  shuffled_deck = deck.shuffle
  hand = shuffled_deck[0,5]
%>

<h1>Welcome to the ENTR-451 Casino!</h1>

<p>
  <% for card in hand %>
    <img src="/images/cards/<%= card %>.svg">
  <% end %>
</p>

<p>
  <a href="/cards">Deal Again!</a>
</p>